.myTable {
  box-shadow: #0000001f 0 6px 16px;
  border-radius: 12px;
  margin-bottom: 15px;
  overflow: auto; // Add overflow for horizontal scrolling if needed
  display: grid;
  grid-template-columns: repeat(7, 1fr); // Adjust based on the number of columns

  table {
    width: 100%;
    border-spacing: 0;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid $lightGray-bg-clr1;
  }

  .header-row {
    font-weight: bold;
  }

  .photoNameCell, .photoName, .approve-btn, .reject-btn {
    // Assuming these cells need special styling, adjust as needed
    grid-column: span 6; // Example value, adjust based on your layout
  }
}
