.region-modal {
  display: grid;
  position: absolute;
  z-index: 5;
  margin-top: 4.5rem;
  border-radius: 20px;
  box-shadow: 0 0 5px hsl(0, 0%, 78%);
  line-height: 1.43rem;
  background: #ffff;
  // padding: 1rem;
  height: 466px;
  width: 498px;
  justify-content: center;
  top: 0;

  .region-title {
    line-height: 1.125rem;
    font-weight: 700;
    font-size: 0.875rem;
    height: fit-content;
    align-self: center;
  }

  .region-container {
    cursor: pointer;
    display: grid;

    grid-template-columns: $destination-card-columns;
    grid-template-rows: $destination-card-rows;
    row-gap: 24px;
    column-gap: 10px;

    .region-item {
      width: $destination-card-item-tablet-width;
      // height: $destination-card-item-tablet-height;
      display: flex;
      flex-direction: column;

      .region-img {
        border: 1px solid #dddddd;
        border-radius: 12px;

        &:hover {
          border-color: #000000;
        }
      }
    }

    // .rdrCalendarWrapper .rdrDateRangeWrapper {
    //   width: fit-content;
    //   border-radius: 20px;
    //   font-size: 0.875rem;
    //   font-weight: 600;
    //   width: 100%;
    //   .rdrMonthAndYearWrapper {
    //     // width: fit-content;
    //     // background-color: #ff385c;
    //   }
    // }
  }
}

.date-modal {
  display: grid;
  position: absolute;
  z-index: 5;
  margin-top: 4.5rem;
  border-radius: 20px;
  box-shadow: 0 0 5px hsl(0, 0%, 78%);
  line-height: 1.43rem;
  background: #ffff;
  padding: 1rem;
  justify-content: center;
  width: max-content;
  // width: 50%;
  //   height: 511px;
  height: 450px;
  .rdrCalendarWrapper .rdrDateRangeWrapper {
    width: fit-content;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 600;
    width: 100%;
    .rdrMonthAndYearWrapper {
      // width: fit-content;
      background-color: #ff385c;
    }
  }
  .myCalanadar {
    background-color: hsla(0, 0%, 100%, 0.459);
    .rdrMonthAndYearWrapper {
      span {
        font-size: 1.2rem;
      }
    }
    .rdrMonths {
      .rdrMonth {
        font-size: 15px;
        margin-top: 20px;
        padding: 0 30px 30px;
      }
    }
  }
}

.guest-modal {
  // display: grid;
  position: absolute;
  z-index: 5;
  margin-top: 4.5rem;
  border-radius: 20px;
  box-shadow: 0 0 5px hsl(0, 0%, 78%);
  line-height: 1.43rem;
  background: #ffff;
  padding: 1rem;
  justify-content: center;
  right: 0;
  height: 395px;
  width: 406px;
  span {
    font-size: 20px;
  }
  .guest-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;

    .guest-container {
      position: relative;

      &:not(:last-child):before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0; // Adjusted to move the line below the .test element
        width: 100%;
        height: 1px;
        background: hsl(0 0% 90%);
      }

      .guest-item {
        display: flex;
        justify-content: space-between;
        padding: 24px 4px 24px 0;

        .guests-info {
          display: flex;
          flex-direction: column;
          align-content: left;

          .guest-title {
            line-height: 1.125rem;
            // margin: 0 0 20px 5px;
            font-weight: 700;
            font-size: 1rem;
            height: fit-content;
            text-transform: capitalize;
            font-weight: 600;
          }

          .guest-desc {
            font-size: rem(14px);
            font-weight: 400;
            color: rgb(113, 113, 113);

            &.service-animal {
              font-weight: 600;
              text-underline-position: under;
              text-decoration: underline;
              text-decoration-color: rgb(113, 113, 113);
            }
          }
        }

        .guest-counter-btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 30%;

          span {
            font-size: 1rem;
          }

          .guest-counter-btn {
            background-color: #ffff;
            // color: #717171;
            border: 1px solid rgb(113, 113, 113);
            border-radius: 50%;
            width: 32px;
            height: 32px;
            text-align: center;
            margin: auto;
            display: flex;
            align-items: center;

            svg {
              height: 12px;
              width: 12px;
              fill: rgb(113, 113, 113);

              &:hover {
                fill: #222222;
              }
            }

            &:hover {
              border-color: #000000;
            }
          }
        }
      }
    }
  }
}
