.stay-preview {
  cursor: pointer;

  &:hover .slick-prev {
    opacity: 1;
  }

  &:hover .slick-next {
    opacity: 1;
  }

  a {
    text-decoration: none;
    color: $lightGray-clr;
  }

  .img-container {
    position: relative;
    border-radius: 10px;

    .stay-img {
      object-fit: cover;
      aspect-ratio: 1.050583657587549 / 1;

    }

    .heart {
      position: absolute;
      z-index: 2;
      right: 0;
      cursor: pointer;
    }

  }

  .stay-desc {
    margin-top: 12px;
    display: grid;
    // grid-template-columns: 225px 46px;
    grid-template-rows: repeat(3, 19px) 25px;
    font-size: 0.938rem;
    justify-content: space-between;

    .stay-name {
      grid-column: 1;
      grid-row: 1;
      font-weight: bold;
      color: $darkGray-clr;
      margin: 0;
    }

    .stay-star {
      grid-column: 2;
      grid-row: 1;
      color: #000;
      font-size: 1.05rem;
    }

    .stay-hostname {
      grid-column: 1;
      grid-row: 2;
      color: #717171;
    }

    .stay-beds {
      grid-column: 1;
      grid-row: 3;
      color: #717171;
    }

    .stay-price {
      grid-column: 1;
      grid-row: 4;
      margin-top: 6px;
      //   margin-bottom: 15px;
    }

    .stay-price-number {
      color: $darkGray-clr;
      font-weight: bold;
    }
  }

}