.stay-filter-container {
    .filter-btn {
        color: black;
        padding: 10px;
        display: flex;
        flex-direction: row;
        border: 1px solid;
        border-radius: 12px;
        border-color: rgb(221, 221, 221);
        height: 48px;
        // width: 20%;
        align-items: center;
        padding: 7px;
        gap: 8px;
        cursor: pointer;

        .filter-icon {
            width: 5px;
            height: 5px;
        }

        svg {
            display: block;
            fill: none;
            height: 16px;
            width: 16px;
            stroke: currentColor;
            stroke-width: 3;
            overflow: visible
        }

    }
}

.MuiBox-root.css-145jske {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60dvw;
    overflow-y: scroll;
    height: 95dvh;
    border: 1px solid #00000045;
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(29, 28, 28, 0.87);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e0e0e0;
        border-radius: 10px;
    }

    .histogram-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 100px;

        .histogram-bar {
            background: linear-gradient(79deg, #0c0b0ba1, #030202);
            width: 90%;
            border-radius: 3px;
            margin-left: 2px;
            margin-top: auto;
            max-height: 100%;
            transition: height 0.3s ease;

            &.grayed-out {
                background: linear-gradient(79deg, #afaeae99, #7b7b7ba3);
            }

        }
    }

    .rc-slider-handle-dragging {
        box-shadow: 0 0 0 5px #817b7b; 
      }

    [class^="Slider__StyledSlider-sc"] {
        margin-top: 50px;

        [class^="Slider__StyledSliderContent"] {

            @media screen and (min-width: 500px) {
                visibility: visible !important; // Background color for smaller screens
                opacity: 1 !important;
                margin-top: 50px;
                padding: 0;
                width: 100%;
                left: 0;

                [class^="Histogram__StyledHistogram"] {
                    height: 100px;
                    margin-top: 30px;

                    [class^="Histogram__StyledHistogramColumn-sc"] {
                        // background: linear-gradient(79deg, #000000, #333333);

                        // &.bZSmKE {
                        //     background: linear-gradient(79deg, #000000, #333333);
                        // }

                        // &.iuFRtD {
                        //     background-color: rgb(152 162 170 / 45%);
                        // }
                    }
                }

            }


            &.gNQdLy {
                @media screen and (min-width: 500px) {
                    // visibility: hidden;
                    position: relative;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }

    }

    [class^="Slider__StyledSliderInput"] {
        max-width: 100%;
        position: relative;
        top: 50px;

        [class^="Handle__StyledHandle"] {
            left: calc(100% - 12px);

            &::after {
                background-color: #000000;
            }
        }

        [class^="Bar__StyledBar"] {
            max-width: 100%;

            [class^="Bar__StyledBarPart"] {
                max-width: 100% !important;
                background: linear-gradient(79deg, #000000, #333333);

            }
        }
    }
}


.MuiBox-root.css-qqowxp {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 40dvw;
    // height: 96dvh;


}


.filter-options-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .headline-container {
        display: flex;
        align-items: center;
        font-weight: 600;
        border-bottom: $border-filter-modal;
        padding-bottom: 10px;

        .close-btn {
            color: black;
            font-size: 1rem;
            cursor: pointer;
            text-align: center;
            width: 30px;
            height: 30px;
            padding: 3px;

            &:hover {
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.125);
            }
        }

        .filter-title {
            text-align: center;
            flex-grow: 2;
            font-size: 1.3rem;
        }
    }


    .type-of-place-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: $border-filter-modal;
        cursor: pointer;
        padding-bottom: 15px;

        .place-type-btns-container {
            display: flex;
            gap: 0;
            justify-content: center;
            width: 95%;
            align-self: center;
            margin-bottom: 20px;

            .place-type-btn {
                width: 100%;
                height: 100%;

                background: #ffff;
                color: black;
                text-align: center;
                padding: 20px 30px;
                font-weight: 700;
                border: $border-filter-modal;

                &:first-child {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                &:nth-child(2) {
                    border-right: none;
                    border-left: none;
                }

                &:last-child {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                &.selected {
                    box-shadow: #000000 3px 3px 6px 0px inset, rgb(255 255 255 / 45%) -3px -3px 6px 1px inset;
                    background: linear-gradient(79deg, #000000, #333333);
                    color: #ffff;
                }
            }
        }
    }

    .place-range-container {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding-bottom: 70px;
        border-bottom: $border-filter-modal;
        padding-bottom: 15px;

        .min-max-price-container {
            margin-top: 50px;
            display: flex;
        }

        .price-range-title {
    
        }
    }


    .rooms-beds-container {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding-bottom: 15px;
        border-bottom: $border-filter-modal;


        .rooms-option {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .first-item {
                width: 20%;
                background-color: #ffff;
                text-transform: capitalize;
            }

            .second-item {
                background-color: #ffff;
                display: flex;
                justify-content: space-around;

                .selected {
                    background: linear-gradient(181deg, #000000cf, #333333);
                    color: #ffff;
                }
            }

            button {
                background-color: #ffff;
                border-radius: 20px;
                border: $border-filter-modal;
                padding: 5px 25px;

            }
        }
    }

    .top-tier {
        border: 1px solid;
        width: 300px;
        padding: 20px;

        .top-tier-details {
            &.active {
                background-color: gray;
            }

            svg {
                display: block;
                height: 72px;
                width: 96px;
                stroke: currentColor;
                stroke-width: 0.1px;
                overflow: visible;

            }
        }

    }

}