.app-footer {

  border-top: 1px solid $lightGray-bg-clr1;
  background-color: #ffffff;
  color: #717171c2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  bottom: 0;
  width: 100%;
  z-index: 100;

  img {
    width: 20px;
  }
}