.dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;

  .dashboard-data {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1vh;
    align-self: flex-start;
    z-index: 1;
  }
  
  
  .dashboard-btn {
    border-radius: 15px;
    width: max-content;
    padding: 0.5em;
    transition: 0.3s;

    &.approved {
      background-color: hsla(120, 100%, 89%, 0.267);
      border: 1px solid #08a108;
      color: #08a108;

      &:hover {
        background-color: hsla(120, 74%, 67%, 0.267);
      }
    }

    &.reject {
      background-color: hsla(0, 100%, 76%, 0.267);
      border: 1px solid #a10808;
      color: #a10808;

      &:hover {
        background-color: hsla(0, 92%, 67%, 0.267);
      }
    }
  }
}



@media (max-width: 1400px) {
  .dashboard {
    flex-direction: column;

    .dashboard-data {
      // flex-direction: row;
      // justify-content: space-between;
      position: static;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      margin: auto;
    }
  }
}