

.login-modal{
  h2{
    margin: 20px 0;
    text-align: center;
  }
  .close-login-modal{
    background-color: rgb(255, 255, 255);
    color: #000;
    position: absolute;
    padding: 1px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    &:hover{
      background-color: rgb(233, 233, 233);
    }
  }
  // .upload-preview{

  //   label{
  //     display: none;
  //   }
  //   input{
  //     background-color: aliceblue;

  //   }
  // }

  .upload-imgs {
    text-align: center;
    .uploading-msg {
        
    }
    .custom-btn {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        grid-area: input;
    }
    .custom-btn:hover {
        background-color: #98ee9b;
        color: #b6b6b6;
    }
    .imgUpload {
        display: none;
    }
    .imgUpload+label::after {
        content: none;
    }
    .uploading-msg {
        grid-area: span;
    }
}

  .inputs{
    display: flex;
    flex-direction: column;
    input{
      padding: 5px 2px;
      margin: 15px 0;
      width: 100%;
      &:focus {
        outline-color:  rgb(0, 153, 255);
       
      }
    }
    .star{
      color: $red;
    }

  }
  .login-button {
    width: 100%;
    button {
      width: 100%;
      line-height: 1.5rem;
      font-size: 1rem;
      text-align: center;
      height: 3.5rem;
      border-radius: 0.625rem;
      font-weight: 600;
      background-color: $main-clr;
      transition: all 0.5s;
      margin-top: 15px;
      &:hover{
        background-color: #bb3049;
      }
    }
  }
  .demo-button {
    width: 100%;
    button {
      width: 100%;
      line-height: 1.5rem;
      font-size: 1rem;
      text-align: center;
      height: 3.5rem;
      border-radius: 0.625rem;
      font-weight: 600;
      background-color: $demo-login-btn-bg-clr;
      transition: all 0.5s;
      margin-top: 15px;
      &:hover{
        background-color: $demo-login-btn-hover-bg-clr;
      }
    }
  }
}