.stay-edit {

    overflow-y: hidden;
    margin-left: 33%;

    h4{
        margin: auto;
    }

    & label {
        font-size: 1em;
        font-weight: bold;
    }

    .basic-data {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        width: max-content;
        grid-template-areas:
            'label1 input'
            'label2 input'
            'label3 input'
            'label4 input';

        & select {
            place-self: center;
            height: max-content;
            width: 10em;
            text-align: center;
        }
    }

    .upload-imgs {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        width: max-content;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-template-areas: 'label input span';

        .uploading-msg {
            grid-column-start: 3;
        }

        .custom-btn {
            display: inline-block;
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            grid-area: input;
        }

        .custom-btn:hover {
            background-color: #98ee9b;
            color: #b6b6b6;
        }

        /* Style for the hidden file input */
        .imgUpload {
            display: none;
        }

        /* Style to hide the adjacent text */
        .imgUpload+label::after {
            content: none;
        }

        .uploading-msg {
            grid-area: span;
        }



    }

    .privacy-selection {
        display: grid;
        column-gap: 10px;
        grid-template-areas:
            'input1 input2 input3'
            'label1 label2 label3';

        .shared-room {
            grid-area: input2;
        }

        .private-room {
            grid-area: input3;
        }

        .entire-place {
            grid-area: input1;
        }

    }

    .numeric-selection {
        display: grid;
        column-gap: 110px;
        row-gap: 10px;
        width: max-content;
        grid-template-areas:
            'label1 input span'
            'label2 input span'
            'label3 input span'
            'label4 input span';
    }

    .checkbox-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;


        & .checkbox-item {
            border: 1px solid #9a9a9a7d;
            border-radius: 8px;
            height: 65px;
            width: 163px;
            padding: 1em;
            margin-top: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .checkbox-item:hover {
            border: 2px solid black;
            cursor: pointer;
        }

        .checkbox-item:last-child {
            margin-bottom: 1.5em;
        }
    }



}