@keyframes slideLeft {
  to {
    transform: translateX(10px);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(-10px);
  }
}

@keyframes slideBack {
  to {
    transform: translateX(0);
  }
}
.stay-preview {
  // display: grid;
  // grid-template-columns: 270px;
  cursor: pointer;
  .carousel-control-prev-icon {
    animation: slideLeft 0.5s ease forwards;
  }
  .carousel-control-next-icon {
    animation: slideRight 0.5s ease forwards;
  }

  a {
    text-decoration: none;
    color: $lightGray-clr;
  }

  .img-container {
    .stay-img {
      object-fit: cover;
      aspect-ratio: 1.050583657587549 / 1;
      // border-radius: 10px;
      // margin-bottom: 12px;
    }
  }

  .stay-desc {
    display: grid;
    grid-template-columns: 225px 46px;
    grid-template-rows: repeat(3, 19px) 25px;
    font-size: 0.938rem;
    .stay-name {
      grid-column: 1;
      grid-row: 1;
      font-weight: bold;
      color: $darkGray-clr;
      margin: 0;
    }

    .stay-star {
      grid-column: 2;
      grid-row: 1;
      color: #000;
    }

    .stay-distance {
      grid-column: 1;
      grid-row: 2;
    }

    .stay-date {
      grid-column: 1;
      grid-row: 3;
    }
    .stay-price {
      grid-column: 1;
      grid-row: 4;
      margin-top: 6px;
      //   margin-bottom: 15px;
    }
    .stay-price-number {
      color: $darkGray-clr;
      font-weight: bold;
    }
  }
}
