.myTripTable {
  box-shadow: #0000001f 0 6px 16px;
  border-radius: 12px;
  padding: 30px;

  .header-row {
    // display: flex;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    background-color: #f2f2f2;
    box-shadow: #0000001f 0 3px 12px;
    border-bottom: 1px solid $lightGray-bg-clr1;

    .header-cell {
      // width: 150px;
      padding: 12px 0;
      text-align: center;
      font-weight: bold;
      color: $darkGray-clr;
    }

    .photoNameCell {
      // width: 250px;
      margin-left: 55px;
      text-align: start;
    }
  }

  .row {
    // display: flex;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    padding: 10px;
    border-bottom: 1px solid $lightGray-bg-clr1;

    .stayImgName {
      display: flex;
      align-items: center;

      img {
        width: 150px;
        border-radius: 10px;
      }

      .stayLoc {
        margin-left: 15px;
        font-size: 1.2rem;
        color: $darkGray-clr;
      }
    }

    .cell {
      // width: 150px;
      padding: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $darkGray-clr;
    }

    .price {
      font-weight: bold;
    }

    .hiddenTitle {
      display: none;
    }

    .date-cell {
      display: flex;
      padding: 0;
    }

    .status {
      font-size: 1.2rem;


      &.pending {
        color: orange;
      }

      &.approved {
        color: green;
      }

      &.rejected {
        color: red;
      }
    }
  }
}

@media(max-width:1000px) {
  .myTripTable {

    .header-row {
      display: none;
    }

    .row {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;

      .stayImgName {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          width: 350px;
          margin-bottom: 20px;
        }

        .stayLoc {
          margin-left: 0;
          font-size: 1.2rem;
          font-weight: bold;
          color: $darkGray-clr;
          display: flex;
        }
      }

      .hiddenTitle {
        display: block;
        font-weight: bold;
        color: $darkGray-clr;
        margin-right: 5px;
      }

      .status {
        width: 150px;
        margin: auto;
        background-color: #f2f2f2;
        box-shadow: #0000001f 0 3px 12px;
      }
    }

  }
}