.stay-list {
  padding: 15px 0 0;
  list-style: none;
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: repeat(auto-fill, minmax(0, 1fr));

  grid-column-gap: 24px;
  list-style: none;
  grid-row-gap: 40px;
  li {
    width: 100%;
    color: $clr7;
  }

  h3 {
    background-color: #ddd;
  }
}
