.main-layout {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1920px) minmax(80px, 1fr);
  // grid-template-rows: auto, 1fr, auto;
  // min-height: 100dvh;

  >* {
    grid-column: 2;
  }

  &.full {
    grid-column: 1 /-1;
  }

  @include for-mobile-layout {
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 1920px) minmax(50px, 1fr);

  }

}

.header-wrapper {
  &.sticky {
    position: sticky;
    z-index: 8;
    background: #FFFFFF;
    box-shadow: #0000001f 0 3px 12px;
    top: 0;
  }
}

.stay-detail-layout {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1100px) minmax(80px, 1fr);

  >* {
    grid-column: 2;
  }

  &.full {
    grid-column: 1 /-1;
  }
}

.confirm-layout {
  display: grid;
  // grid-template-columns: 20px 1fr 20px;
  grid-template-columns: minmax(100px, 1fr) minmax(auto, 1920px) minmax(100px, 1fr);
  grid-template-rows: auto, 1fr, auto;
  min-height: 100dvh;

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  * {
    &.full {
      grid-column: 1 / -1;
    }
  }

  @include for-mid-layout {
    grid-template-columns: minmax(80px, 1fr) minmax(auto, 1920px) minmax(80px, 1fr);
  }


}


.dashboard-layout {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1920px) minmax(80px,
      1fr);
  grid-template-rows: auto, 1fr, auto;

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  * {
    &.full {
      grid-column: 1 / -1;
    }
  }
}

.trips-layout {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1920px) minmax(80px, 1fr);
  // grid-template-rows: auto, 1fr, auto;
  // min-height: 100dvh;

  >* {
    grid-column: 2;
  }

  &.full {
    grid-column: 1 /-1;
  }

}

@media (max-width: 1000px) {
  .trips-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1920px) minmax(20px,
        1fr);
  }
}

@media (max-width: 1400px) {
  .dashboard-layout {
    grid-template-columns: minmax(10px, 1fr) minmax(auto, 1920px) minmax(10px,
        1fr);
  }
}