.confirm-page {
  display: grid;

  .title {
    display: flex;
    grid-row: 1;
    grid-column: span 2;


    .return-btn {
      margin-top: 2px;
      padding: 0;
      background: $clr6;
      color: $darkGray-clr;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $black;
        background-color: $lightGray-bg-clr;
      }

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }


  .reservation {
    display: grid;
    grid-template-columns: 0.8fr 0.5fr;
    column-gap: 2.5rem;
    margin: auto !important;


    section {
      border-bottom: 1px $border-gray solid;
      padding-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.375rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }

    a {
      color: $darkGray-clr;
      font-weight: 600;
    }

    .reservation-info {
      .edit-btn {
        background-color: $clr6;
        color: $darkGray-clr;
        text-decoration: underline;
        font-weight: 600;
      }

      p {
        margin-top: 2rem;
        line-height: 1rem;
        font-size: 0.75rem;
      }

      .confirm-btn {
        margin-top: 2rem;
        margin-bottom: 2rem;
        line-height: 1.5rem;
        font-size: 1.125rem;
        text-align: center;
        width: 12.753875rem;
        height: 3.5rem;
        border-radius: 0.625rem;
      }

      .order-attribute {
        display: flex;
        justify-content: space-between;
      }

      ul {
        margin-top: 1rem;
      }

      li {
        margin-bottom: 0.5rem;
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        margin-top: 10px;
        width: 120px;
        height: 40px;
        z-index: -1;
        user-select: none;
      }
    }

    .billing-form {
      display: flex;
      flex-direction: column;

      div {
        margin: 0;
        display: flex;
        width: 100%;

        & label {
          margin-top: 10px;
          margin-left: 20px;

        }
      }

      .MuiInputBase-root::before {
        border: none;

        :hover {
          border: none;
        }

      }


      .MuiInputLabel-animated {
        color: $black;
      }


      .MuiInput-input {
        margin-top: 3px;
      }

      .MuiInputBase-root::after {
        width: max-content;

      }



      div.number {
        outline: 1px solid $border-gray;
        padding: 20px;
        width: 100%;
        border-radius: 10px 10px 0 0;


      }

      & div.exp-date {
        outline: 1px solid $border-gray;
        display: flex;
        flex-direction: row;
        padding: 20px;
        width: 100%;
        border-radius: 0 0 0 10px;
      }

      & div.cvv {
        outline: 1px solid $border-gray;
        display: flex;
        flex-direction: row;
        padding: 20px;
        width: 100%;
        border-radius: 0 0 10px 0;
      }

    }
  }

  .oreder-preview {
    position: sticky;
    top: 5dvh;
    justify-self: end;
    border: 1px solid $border-gray;
    height: max-content;
    border-radius: 12px;
    padding: 1.5rem;
    justify-self: end;

    .stay-info {
      display: grid;
      grid-template-columns: 124px 1fr;
      column-gap: 15px;

      .stay-img {
        border-radius: 8px;
        height: 106px;
        width: 124px;
        grid-row: span 2;
      }

      .reviews {
        align-self: end;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
      }

      & li:nth-child(2) {
        border-bottom: 1px solid $border-gray;
        padding-bottom: 1.5rem;
      }
    }
  }

  .btn-container {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 0 0;
    margin: 0 0;
    cursor: pointer;
    border: none;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);

    @for $i from 0 to 10 {
      .cell:nth-child(10n + #{$i + 1}):hover~.content {
        --positionX: #{$i};
      }

      .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
        --positionY: #{$i};
      }
    }
  }

  .cell {
    width: 100%;
    height: 100%;
    z-index: 1;
    // border: 1px solid rgba(128, 128, 128, 0.753);
  }

  .content {
    --positionX: 0;
    --positionY: 5;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 8px;

    background-image: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
        rgb(241, 37, 75) 0%,
        rgb(230, 30, 77) 27.5%,
        rgb(227, 28, 95) 40%,
        rgb(215, 4, 102) 57.5%,
        rgb(189, 30, 89) 75%,
        rgb(189, 30, 89) 100%);
  }

  .action-btn {
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  span {
    padding: 0 0;
    margin: 0 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
  }


}

@include for-mid-layout {

  .confirm-page {
    .reservation {
      display: flex;
      flex-direction: column-reverse;
    }

    .oreder-preview {
      position: unset;

    }
  }

}