// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


//AIR BNB CLRS

$main-bg-clr:#fff;
$lightGray-bg-clr1:#ebebeb;
$lightGray-bg-clr:#f7f7f7;
$lightGray-clr: #717171;
$main-clr:#ff385c;
$darkGray-clr:#222222;

//ON HOVER
$filter-icon-hover-clr:#000;
$side-nav-hover-bg-clr:#f7f7f7;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1920px;